<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="uploads/assets/css/style.css" />
</head>
<body>
	
	<div class="box">
	
		<div class="inner-box">
			<h2>Login</h2>
		
			<form class="form-signin" action="/user/login" method="POST">
			
			

			
			<input type="text" class="form-control" placeholder="Phone" required name="phone" />
			<input type="password" class="form-control" placeholder="Password" required name="password"/>
			
			
			
			<input type="submit" value="Login" />
			
		
			</form>
		
		</div>
	
	</div>
	
</body>
</html>